/* src/components/RegistrationForm.css */
.registration-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .registration-form label {
    margin-bottom: 10px;
  }
  
  .registration-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .registration-form button {
    padding: 10px;
    background-color: #63B69D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    color: #63B69D;
  }



  